/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*ここからコーディング*/

/*css*/
.flex {
    display: flex;
    flex-wrap: wrap;
}
.container {
    width: 100%;
    height: 100%;
}
.mt3 {
    margin-top: 30px;
}
.mb3 {
    margin-bottom: 30px;
}
.mb8 {
    margin-bottom: 80px;
}
.pt8 {
    padding-top: 80px;
}
.pb3 {
    padding-bottom: 30px;
}
.pb8 {
    padding-bottom: 80px;
}
.title {
    margin: 10px auto 0;
    font-size: 4rem;
    font-family: Georgia;
}
.underl-y {
    background: linear-gradient(transparent 70%, yellow 70%);
    width: 19%;
}
.underl-y2 {
    background: linear-gradient(transparent 70%, yellow 70%);
    width: 30%;
}
.underl-g {
    background: linear-gradient(transparent 70%, #AAA 70%);
    width: 13%;
}
.section {
    padding: 80px 0;
    margin: 0 auto;
}
.color1 {
    background-color: #EEEEEE;
}
.color2 {
    background-color: #FFFFAA
}
.color3 {
    background-color: #333333;
}
.tac {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.none {
    display: none;
}

/* アイコンcss */
.icon-type1 {
    width: 50px;
    margin: 0;
    filter: invert(88%) sepia(61%) saturate(0%) 
    hue-rotate(229deg) brightness(107%) contrast(101%);
}
.icon-type2 {
    width: 30px;
    margin-right: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 5px;
}

/* ヘッダー */

.header-bar {
    text-align: center;
    width: 45%;
    margin-left: auto;
    padding-bottom: 100px;
}
.invisible {
    opacity: 0;
}
.nav-word {
    margin: 30px 0 0 60px;
}
.nav-word:hover .invisible{
    opacity: 1;
}
.header-bar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: serif;
}

/* メインビジュアル */

.main-bg {
    background: url(img/main.jpg) bottom no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.main-visual {
    margin-top: 200px;
    padding-bottom: 200px;
}
.catch-copy1,.catch-copy2,.catch-copy3 {
    color: white;
    font-size: 4rem;
    line-height: 1.5;
    font-family: Franklin Gothic Medium;
    margin-left: 15%;
}
.catch-copy2,.catch-copy3 {
    font-size: 2.5rem;
}

/*プロフィール*/

.profile {
    padding-bottom: 20px;
}
.profile-contents {
    justify-content: center; 
}
.my-image img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.text {
    margin-left: 100px;
    font-size: 1.5rem;
    line-height: 1.5;
    width: 50%;
}
.text p {
    margin-bottom: 20px;
}
.text h6 {
    font-size: 3rem;
}

/*スキル*/

.coding,.design-tool {
    justify-content: center;
}
.detail {
    width: 200px;
    text-align: center;
    line-height: 1.5;
    font-family: serif;
    margin: 0 40px;
}
.vue {
    padding-top: 25px;
    width: 75%;
}

/*ポートフォリオ*/

.portfolio {
    width: 80%;
    margin: 0 auto;
}   
.work {
    background-color: #fff;
    padding: 15px;
    margin: 0 20px;
    box-shadow: 0px 1px 2px 0px black;
    width: 100%;
    height: 350px;
}
.work p {
    text-align: left;
    font-family: serif;
}
.about {
    font-size: 1.5rem;
    padding-bottom: 50px;
    font-family: 'ＭＳ 明朝';
}
.lp,.design {
    display: flex;
    justify-content: center;
}
.sample-lp {
    width: 90%;
    height: 200px;
}
.sample-design {
    height: 150px;
    padding: 25px 75px;
    width: 150px;
}
.twwiter {
    width: 300px;
    padding: 25px 0;
}

/*コンタクト*/

.contact {
    color: white;
    height: 200px;
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: serif;
    justify-content: space-around;
}
.name {
    color: #00ECFF;
    font-size: 2rem;
}
.name,.contact-me,.location {
    margin-bottom: 80px;
}

/*フッター*/

.footer {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}



/*ＪＱ用ハンバーガーメニューcss*/

#hamburger,.menu-content {
    display: none;
}
#hamburger.active span:nth-of-type(1) {
    top: 20px;
    transform: rotate(45deg);
}
#hamburger.active span:nth-of-type(2) {
    opacity: 0;
}
#hamburger.active span:nth-of-type(3) {
    top: 20px;
    transform: rotate(-45deg);
}
/*ここまでＪＱハンバーガーメニュー*/

/*トップボタン*/

#top-btn {
    background: white;
    color: black;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    border: 1px solid #000;
}

/* レスポンシブデザイン */

@media screen and (max-width: 768px) {

    /*ハンバーガーメニュー形*/

    #hamburger {
        width: 40px;
        height: 40px;
        position: fixed;
        cursor: pointer;
        z-index: 100;
        top: 15px;
        right: 15px;
        transition: .4s;
        display: block;
    }

    #hamburger span {
        display: block;
        width: 35px;
        height: 2px;
        background-color: white;
        transition: .8s;
    }

    #hamburger span:nth-of-type(1) {
        position: absolute;
        top: 10px;
        left: 2px;
    }

    #hamburger span:nth-of-type(2) {
        position: absolute;
        top: 20px;
        left: 2px;
    }

    #hamburger span:nth-of-type(3) {
        position: absolute;
        top: 30px;
        left: 2px;
    }

    /*ここからＪＱ用ハンバーガーメニュー*/

    .menu-content {
        display: block;
    }
    .menu-content .menu-title {
        margin: 40px 20px;
        font-size: 2.2rem;
        color: #333333;
        text-align-last: left;
        font-weight: bold;
    }
    .menu-content {
        width: calc(100% - 80px);
        height: 100%;
        text-align: center;
        transition: .2s;
        position: fixed;
        top: 0;
        left: calc(-100% - 80px);
        background: #fff;
        color: #333333;
        box-shadow: 80px 0 rgba(38, 98, 213, 0.3);
    }
    .menu-content a {
        color: #333333;
        margin: 15px;
        padding: 5px;
        border-bottom: 0.5px solid #2662D5;
        text-decoration: none;
        display: block;
    }
    .menu-content li {
        width: 100%;
        text-align-last: left;
        height: 40px;
        
    }
    .menu-content.open {
        left: 0;
    }
    .menu-content a:hover {
        filter: invert(88%) sepia(100%) saturate(2929%) 
        hue-rotate(104deg) brightness(99%) contrast(104%)
    }
    .menu-content_inner a {
        display: flex;
        align-items: center;
    }

    /*ここまでハンバーガーメニュー*/

    /*ここからレスポンシブコーディング*/

    .title {
        font-size: 2.5rem;
        text-align: center;
    }
    .underl-y {
        width: 60%;
    }
    .underl-y2 {
        width: 95%;
    }
    .underl-g {
        width: 45%;
    }
    .section {
        padding: 30px 0;
        margin: 0 auto;
    }

    /*ヘッダー*/

    .res-none {
        display: none;
    }
    
     /* メインビジュアル */

     .main-visual {
        margin-top: 100px;
        text-align: center;
        width: 100%;
        padding-bottom: 100px;
    }
    .catch-copy1,.catch-copy2,.catch-copy3 {
        width: 90%;
        margin: 0 auto;
    }
    .catch-copy1 {
        font-size: 2.5rem;
    }
    .catch-copy2,.catch-copy3 {
        font-size: 1.8rem;
    }

    /*プロフィール*/

    .profile-contents {
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }
    .my-image img {
        width: 90%;
        height: 300px;
    }
    .text {
        margin-left: 0;
        width: 80%;
        text-align: left;
        font-size: 1.2rem;
    }
    .text h6 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    /*スキル*/

    .detail {
        margin: 0 0 30px;
    }

    /*ポートフォリオ*/

    .portfolio {
        width: 100%;
        margin: 0 auto;
    }
    .lp,.design {
        display: block;
    }
    .work {
        width: 85%;
        height: 100%;
        padding: 10px;
        margin: 0 15px 20px;
    }
    .work p {
        margin-bottom: 0px;
    }
    .about {
        padding-bottom: 20px;
    }
    .sample-design {
        padding: 0;
    }
    .twwiter {
        width: 100%;
    }
    .mb8 {
        margin-bottom: 40px;
    }
    .pb8 {
        padding-bottom: 40px;
    }
   
    /*コンタクト*/

    .contact.flex {
        display: block;
        height: 100%;
    }
    .contact p {
        text-align: center;
    }
    .name {
        padding-top: 30px;
    }
    .social {
        padding-bottom: 30px;
    }
    .bold.mb3 {
        margin-bottom: 10px;
    }
    .name,.contact-me,.location {
        margin-bottom: 0;
        padding-bottom: 30px;
    }
    .pt8 {
        padding-top: 40px;
    }
    
}